h1 tôi là header
a(href="#") click me

div.container
    div.asddasd 
        div 


.header 
    .title-header 
        p tui là header 
    .menu-header 
        a(href="#") hí hí hãy nhấn vào tui đi 
    .hihi 
        p chào mọi người