

.header {
    .title-header {
        p {
            color: red;
            &::after{

            }
        }
    }
    .menu-header {
        color: blueviolet;
        text-decoration: none;
    }
}